@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You succesfully deployed a ASP.Net Core web application. For more information you can deploy this also as a container <a href="https://docs.microsoft.com/en-us/azure/container-instances/">Microsoft windows Azure Container INstances</a>.< </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
